:root{
    background-color: #8a2be266;
}

::-webkit-input-placeholder {
    text-align: center;
  }

blank {
    text-decoration: underline;
    font-style: italic;
    font-size: big;
}

input {
    text-align: center;
}

header {
    background-color: #a52a2a99;
    color: white;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}

header a {
    color: #00ffff66;
}

.textboxes {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    row-gap: 2%;
    background-color: #7fffd4bb;
    padding: 2%;
    border-radius: 5px;
}

.theLib {
    background-color: #adff2fbb;
    font-size: 130%;
}

.hidden {
    color: #00000000;
    background-color: #00000000;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  @media (min-width: 777px) {
    input{
        width: 30%;
        height: 35px;
    }

    ::-webkit-input-placeholder {
        font-size:x-large;
      }
      
      input {
        font-size:x-large;
      }

      .theLib {
        font-size:x-large;
      }

      .block {
        font-size:x-large;
      }

      h1 {
        font-size: 300%;
      }

      p {
        font-size: x-large;
      }
  }